@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"),
    url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

@layer components {
  .input-style {
    @apply appearance-none border rounded w-full py-2 px-3 text-white bg-gray-600 leading-tight text-lg;
  }

  .form-control {
    @apply bg-gray-800 shadow-md rounded px-1 pt-6 pb-8 mb-4 flex flex-wrap text-white;
  }

  .label-style {
    @apply block text-gray-300 text-lg font-bold mb-2;
  }

  .btn-style {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded tracking-widest;
  }

  .input-container {
    @apply mb-4 ml-5 w-full md:w-5/12 md:pr-2;
  }
}

body {
  animation: gradientAnimation 5s ease infinite;
  background-image: linear-gradient(to top, #270370c0, #291c1cab, #540000a5);
  background-attachment: fixed;
  font-family: Ubuntu, sans-serif;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
